/scripts/downsamp.sh
/scripts/kallisto_index.sh
/tests/garbage.py
/tests/config_test.ini
/scripts/downsamp.sh
/scripts/kallisto_bus.sh
/scripts/kallisto_index.sh
/whitelists/test_list.whl
/scito_lambdas/LambdaSettings.py
/aws_roles/genomics-scito-lambda-1.json
/aws_roles/genomics-scito-lambda-2.json
/aws_roles/genomics-scito-lambda-3.json
/aws_roles/genomics-scito-lambda-4.json
/aws_roles/genomics-scito-lambda-5.json
/lambda_settings/true_split_settings.json
/lambda_settings/bus_constructor_settings.json
/lambda_settings/true_split_settings_TEST.json
/scripts/TOKEN.txt
/scripts/jenkins_docker.sh
