/scripts/downsamp.sh
/scripts/kallisto_index.sh
/tests/garbage.py
/tests/config_test.ini
/scripts/
/whitelists/test_list.whl
/scito_lambdas/LambdaSettings.py
/genomics-scito-lambda-1.json
/genomics-scito-lambda-2.json
/genomics-scito-lambda-3.json
/genomics-scito-lambda-4.json
/genomics-scito-lambda-5.json
